<header>
  <a class="" [href]="appEnvironment.reactLink">React</a>
  <a class="" [href]="appEnvironment.vueLink">Vue</a>
  <a class="" [href]="appEnvironment.angularLink">Angular</a>
</header>
<main class="">
  <h1 class="fs-1">Hello.</h1>
  <h2 class="fs-2">My name is Alfred Skedebäck.</h2>
  <p>I'm an independent software developer. I've worked as an programming consultant for 3+ years and currently work at <app-as-link href="https://umain.com/" linkText="UMAIN"></app-as-link> as Web developer. You can find some of my work, including this portfolio, over at <app-as-link href="https://github.com/alfredskeden/" linkText="Github"></app-as-link>. Add me on <app-as-link href="https://se.linkedin.com/in/alfred-skedeb%C3%A4ck-09650970" linkText="LinkedIn"></app-as-link>.</p>
  <p>This page is created using <app-as-link href="https://angular.io/" linkText="Angular"></app-as-link> with <app-as-link href="https://vitejs.dev/" linkText="Vite"></app-as-link>. This shows some of the technologies that I use, on this page:</p>
  <ul class="">
    <li class="">Angular</li>
    <li class="">TypeScript</li>
    <li class="">Bootstrap 5</li>
    <li class="">Node.js</li>
    <li class="">MacOX</li>
    <li class="">Nginx</li>
  </ul>
  <p>Outside of programming and helping my girlfriend take care of our dog, I enjoy computer games, sushi and solving Rubik's cubes.</p>
</main>
<footer></footer>